body {
  background-image: url('/static/images/food_back.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.categories-title,
.recipes-title {
color: white;
}


.category-recipes-container {
  background-color: #5F9EA0;
  padding: 20px;
  border-radius: 10px;
}
