{% extends "recipes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <h1>{{ user.username }}'s Profile</h1>
    <p>Email: {{ user.email }}</p>
    <p>Mobile Number: {{ user.mobile_number }}</p>
    <p>Country: {{ user.country }}</p>
    <p>Age: {{ user.age }}</p>

    <!-- Edit Form Toggle Button -->
    <button class="btn btn-outline-primary" onclick="toggleEditForm()">Edit Profile</button>

    <!-- Edit Form -->
    <form method="post" id="editForm" style="display: none;">
      {% csrf_token %}
      {{ form|crispy }}
    </fieldset>
    <div class="form-group py-3">
      <input class="btn btn-outline-primary" type="submit" value="Update Profile">
    </div>
  </form>
</div>
<!-- -->
{% endblock content %}
